body {
	background-color: black;
}

h1 {
	color: red;
}
.board {
	width: 40vw;
	height: 47vh;
	display: grid;
	grid-template-columns: repeat(3, auto);
}
.restartButton {
	/* display: block; */
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	width: 10%;
	color: black;
}

:root {
	--cell-size: 100px;
	--mark-size: calc(var(--cell-size) * 0.8);
}
.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 2px solid black;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	background-color: #4fa6ff;
}

.cell.x::before,
.cell.x::after {
	content: '';
	position: absolute;
	width: calc(var(--mark-size) * 0.12);
	height: var(--mark-size);
}

.cell.x::before {
	transform: rotate(38deg);
	background-color: #601314;
}

.cell.x::after {
	transform: rotate(-38deg);
	background-color: #601314;
}

.cell.o::before,
.cell.o::after {
	content: '';
	position: absolute;
	border-radius: 50%;
}

.cell.o::after {
	width: calc(var(--mark-size) * 0.8);
	height: calc(var(--mark-size) * 0.8);
	background-color: #be2626;
}
